<p>
  <strong>Value:</strong>
  <%= @odometer_reading.value %>
</p>

<p>
  <strong>Entry date:</strong>
  <%= @odometer_reading.entry_date %>
</p>

<%= link_to 'Edit', edit_user_vehicle_odometer_reading_path(@vehicle.user, @vehicle, @odometer_reading) %>
